name: Docker Image CI
on:
  push:
    tags:
      - v*
  pull_request:
    types:
      - closed

env:
  IMAGE_NAME: escape-datascience-school2022

jobs:
  if_merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Log to the GitHub registry
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag $IMAGE_NAME

    - name: Push image to the GitHub registry
      run: |
        IMAGE_ID=ghcr.io/${{ github.repository_owner }}/$IMAGE_NAME
        VERSION=$GITHUB_SHA

        echo IMAGE_ID=$IMAGE_ID
        echo VERSION=$VERSION
        echo IMAGE_NAME=$IMAGE_NAME

        docker tag $IMAGE_NAME $IMAGE_ID:$VERSION
        docker push $IMAGE_ID:$VERSION
        docker tag $IMAGE_ID:$VERSION $IMAGE_ID:latest
        docker push $IMAGE_ID:latest

  push:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Log to the GitHub registry
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag $IMAGE_NAME

    - name: Push image to the GitHub registry
      run: |
        IMAGE_ID=ghcr.io/${{ github.repository_owner }}/$IMAGE_NAME
        # Strip git ref prefix from version
        VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')

        echo VERSION=$VERSION

        docker tag $IMAGE_NAME $IMAGE_ID:$VERSION
        docker push $IMAGE_ID:$VERSION